body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

.darkSection {
    background-color: #133B5C;
    position: relative;
}

/* ---- NavBar ---- */
.navbar {
    color: #dddddd;
    background-color: transparent;
    margin-bottom: 10px;
    position: relative;
    z-index: 10000;
    padding-bottom: 30px;
}

.navbarBrand {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffffff;
    font-size: 2rem;
    padding-left: 10px;
}
.navbarBrand:hover {
    color: #919191;
}

.navbarToggler:focus,
.navbarToggler:active,
.navbarToggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbarTogglerIcon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221, 221, 221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navItem {
    padding: 0 18px;
}
.navLink {
    color: #ffffff;
}
.navLink:hover {
    color: #919191;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #254864e3;
    mix-blend-mode: overlay;
}

/* ---- Titulo ---- */
.titleContainer {
    margin-bottom: 75px;
    font-size: large;
    color: #ffffff;
    position: relative;
    z-index: 10000;
}
.title {
    padding-bottom: 50px;
}

.containerFluid {
    position: relative;
    z-index: 10000;
    display: inline-flex;
    width: 70%;
}
.searchInput {
    margin: auto;
}
.searchButton {
    margin: auto;
}

.lightSection {
    margin-bottom: 0px;
    padding-top: 20px;
    position: relative;
    background-color: #f9f9f9;
    opacity: 1;
    background-image: radial-gradient(#e8e8e8 1.05px, #f9f9f9 1.05px);
    background-size: 21px 21px;
    z-index: 10000;
}


.listaAtivosContainer {
    margin-bottom: 100px;
}

.listaAtivoTitle {
    margin: 25px 0 45px 0;
}

.listarContainer {
    width: 97%;
}
@media (max-width: 730px) { 
    .listarContainer {
        width: 95%;
    } 
}
@media (max-width: 560px) { 
    .listarContainer {
        width: 80%;
    } 
}

.listaBensIndustriais,
.listaConsumoCiclico,
.listaConsumoNaoCiclico,
.listaFinanceiro,
.listaMateriaisBasicos,
.listaOutros,
.listaPetroleoGasBiocombustiveis,
.listaSaude,
.listaTecnologiaInformacao,
.listaTelecomunicações,
.listaUtilidadePublica {
    background-color: white;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
}

.box {
    border: 4.5px solid #133B5C;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    display: inline-table;
}

.opcoesContainer {
    margin-top: 20px;
}
.buttonOutro {
    background-color: #133B5C;
    border: none
}
.buttonOutro:hover {
    background-color: #0c5ea1;
}

.buttonSearch {
    margin: 10px;
    background-color: #0c5ea1;
    border-color: #0c5ea1;
}
.buttonSearch:hover {
    background-color: #133B5C;
    border-color: #133B5C;
}

.imagemAtivo {
    padding-right: 170px;
}


.teste {
    align-items: center;
    align-self: center;
    margin-top: 20px;
    height: 40px;
    background-color: #133B5C;
}

