.watchlistContainer {
    margin-top: 40px;
}

.watchlistForm {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 70%;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    transition: ease all .5s;
}

.watchlistFormTitleTicker {
    padding: 20px 20px 5px 20px;
}

.watchlistFormTitleValue {
    padding: 0  20px 5px 20px;
}

.exampleInputEmail1 {
    margin: auto;
    width: 50%;
}

.dropSelect {
    max-width: 30%;
    text-align-last: center;
}

.centralize {
    align-content: center;
    text-align: -webkit-center;
}

.inputBox {
    margin: auto;
    width: 80%;
    align-content: center;
    text-align: -webkit-center;
}

.submitButton {
    position: relative;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: #133B5C;
    border: none;
}

.cancelButton {
    position: relative;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: #5c1313;
    border: none;
}
.cancelButton:hover {
    background-color: #ab0f0f;
}
@media (max-width: 730px) {
    .watchlistForm {
        width: 100%;
    }
}