/**
 * Define a parametros CSS para o componente Cotacoes
 */
.tableCotacaoContainer {
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.cotacoesTd {
    width: 50%;
}

.grafico {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: white;
    margin-top: 40px;
}