.login_component {
    background-color: aqua;
    height: 100%;
}

.login_container {
    width: fit-content;
    background-color: white;
    position: relative;
    top: 40px;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
}
