body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}


.box {
    border: 4.5px solid #133B5C;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    display: inline-table;
}
.imagem-ativo {
    padding-right: 170px;
}

.input_box {
    margin: 20px;
    width: 80%;
    align-self: center;
}

.teste {
    align-items: center;
    align-self: center;
    margin-top: 20px;
    height: 40px;
    background-color: #133B5C;
}

.drop_select {
    max-width: 30%;
    text-align-last: center;
}

.centralize {
    align-content: center;
    text-align: -webkit-center;
}

/* --- Article ---- */
.dark-section {
    background-color: #133B5C;
    position: relative;
}
#title {
    padding-bottom: 50px;
}





/* ---- NavBar ---- */
#navbar {
    color: #dddddd;
    background-color: transparent;
    margin-bottom: 150px;
    position: relative;
    z-index: 10000;
}
.navbar {
    padding: none;
}
.navbar {
    padding: 10px 15%;
}

.navbar-brand {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #dddddd;
    font-size: 2rem;
}
.navbar-brand:hover {
    color: #919191;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221, 221, 221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    color: #dddddd;
}
.nav-link:hover {
    color: #919191;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c263b;
    mix-blend-mode: overlay;
}

/* ---- Titulo ---- */
.title-container {
    margin-bottom: 75px;
}
.title-container {
    font-size: large;
    color: #dddddd;
    position: relative;
    z-index: 10000;
}



/* ---- Area de Pesquisa ---- */
.container-fluid {
    max-width: 50%;
    position: relative;
    z-index: 10000;
    transition: ease all .5s;
}
.button-submit {
    color: white;
    text-decoration: none;
}
.btn-primary {
    background-color: #133B5C;
    border: #133B5C;
}
.button-submit:hover {
    color: black;
}
@media (max-width: 830px) { 
    .container-fluid {
        max-width: 90%;
    } 
}

.light-section {
    margin-bottom: 0px;
    position: relative;
    background-color: #f9f9f9;
    opacity: 1;
    background-image: radial-gradient(#e8e8e8 1.05px, #f9f9f9 1.05px);
    background-size: 21px 21px;
    z-index: 10000;
}


/* starting ENTER animation */
.messageout-enter {
    transform: translateY(0%) scale(0.01);
  }
  
  /* ending ENTER animation */
  .messageout-enter-active {
    transform: translateY(0%) scale(1);
    transition: all 500ms ease-in-out;
  }
  
  /* starting EXIT animation */
  .stepstepscardAnimationscard-exit {
    transform: translateY(0%) scale(1);
  }
  
  /* ending EXIT animation */
  .stepscardAnimation-exit-active {
    transform: translateY(0%) scale(0);
    transition: all 500ms ease-in-out;
  }

/* ---- Tabela ---- */
.table-title {
    padding-top: 45px;
    margin-bottom: 25px;
    color: #0e0e0e;
}
.accordion {
    width: 70%;
    margin: auto;
    margin-bottom: 75px;
    transition: ease all .5s;
}
@media (max-width: 730px) { 
    .accordion {
        width: 100%;
    } 
}
#accordionExample {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    border-collapse: collapse;
    width: 70%;
    transition: ease all .5s;
}

.table-header {
    display: inline;
    padding-right: 0;
    margin-bottom: 25px;
}
.table-header h3{
    font-size: medium;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table-info th {
    text-align: center;
}
  
.accordion-button:focus,
.accordion-button:active {
    outline: none;
    box-shadow: none;
    background-color: white;
}
.accordion-button::after {
    background-image: none;
}
.accordion-button:not(.collapsed) {
    background-color: white;
    border: none;
    text-align: center;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
}
.accordion-header {
    text-align: center;
}
.ler-mais {
    padding-top: 15px;
    position: relative;
    text-align: right;
}
.dropstart {
    padding: 0 0 0 97%;
    position: relative;
    bottom: 35px;
    text-align: right;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    color: #313131;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: none;
    
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #313131;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.table-cotacao-container {
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
#cotacoes td {
    width: 50%;
}




/* --- Lista de Ativos --- */
.lista-ativos-container {
    margin-bottom: 100px;
}
.lista-bens-industriais,
.lista-consumo-ciclico,
.lista-consumo-nao-ciclico,
.lista-financeiro,
.lista-materiais-basicos,
.lista-outros,
.lista-petroleo-gas-biocombustiveis,
.lista-saude,
.lista-tecnologia-informacao,
.lista-telecomunicações,
.lista-utilidade-publica {
    background-color: white;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
}



/* ---- Footer ---- */
#footer {
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 60px;
    color: #dddddd;
    background-color: #133B5C;
}
.footer-container {
    display: inline-flex;
    width: 70%;
    transition: ease all .5s;
}
.footer-title {
    font-size: 18px;
    color: #dddddd;
    margin-bottom: 15px;
    transition: ease all .5s;
}
.sobre-container {
    width: 100%;
    margin: 0 20px;
    text-align: justify;
    color: #dddddd;
    transition: ease all .5s;
}
a {
    color: #b5b5b5;
}
a:hover {
    color: #606060;
}

.duvidas-container {
    width: 33.3%;
    margin: 0 100px;
    text-align: left;
    color: #dddddd;
    transition: ease all .5s;
}
.duvidas-list {
    padding-left: 0;
    color: #dddddd;
    transition: ease all .5s;
}
.footer-numero {
    position: absolute;
}

.socialmedia-container {
    width: 53.3%;
    margin: 0 20px;
    text-align: justify;
    color: #dddddd;
    transition: ease all .5s;
}
.socialmedia-list {
    padding-left: 0;
    color: #dddddd;
    transition: ease all .5s;
}

.social-icon {
    color: #dddddd;
}
.fa-facebook-f:hover,
.facebook-icon:hover {
    color: rgb(37, 98, 167);
}
.svg-inline--fa.fa-w-9 {
    width: 0.5625em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 0;
}
.fa-twitter:hover,
.twitter-icon:hover {
    color: rgb(53, 198, 255);
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
.fa-instagram:hover,
.instagram-icon:hover {
    color: rgb(224, 81, 129);
}
.svg-inline--fa.fa-w-14 {
    width: 0.875em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 12px;
    margin-bottom: 0;
}

.svg-inline--fa {
    vertical-align: none;
}
li {
    list-style-type: none;  
}

.copyright {
    color: #dddddd;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 1px;
}
.footer-terms {
    color: #a2a2a2;
}
@media (max-width: 1187px) {
    .footer-container {
        width: 100%;
    }
}
@media (max-width: 730px) {
    .duvidas-container {
        width: 33.3%;
        margin: 0 20px;
        margin-left: 0px;
    }
    .sobre-container {
        width: 97%;
        margin-right: 10px;
        margin-left: 20px;
    }
    .socialmedia-container {
        margin-right: 5px;
    }
}

  