
.searchContainer {
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.containerFluid {
    max-width: 50%;
    position: relative;
    z-index: 10000;
    transition: ease all .5s;
}

.buttonSubmit {
    color: white;
    text-decoration: none;
}

.buttonSearch {
    background-color: #0c5ea1;
    border-color: #0c5ea1;
}
.buttonSearch:hover {
    background-color: #133B5C;
    border-color: #133B5C;
}
.buttonSubmit:hover {
    color: black;
}

@media (max-width: 830px) { 
    .containerFluid {
        max-width: 90%;
    } 
}